clearFix()
    display table
    clear both



navbarLink()
    text-decoration none
    font-size 1.2em
    color #FFF !important
    padding 8px 20px
    background-color 250ms 
    transition background-color .2s
    display flex
    align-content center
    &:hover
        background-color rgba(#000, .2)
        border-radius 4px


formInput() 
    width 100% !important
    padding 15px !important
    &:focus 
        border-color  #66d9ff !important

formLabel() 
    font-family Roboto, Arial, Helvetica, sans-serif !important
    font-size 1.2em !important
    font-weight 400 !important
    text-align left
    padding 5px

formTitle()
    text-align center
    font-size 4em
    padding-bottom 10px
    font-weight lighter
    font-family Roboto
    animation fadeIn 1s ease-in

formBox()
    padding 20px
    box-shadow 0px 0px 10px rgba(#000, .2)

formBtnWrap()
    display flex
    margin-top 30px
    a 
        flex-basis 50%
    button 
         flex-basis 50%

iconStyle()
    margin-right 20px !important
    transition opacity .5s;
    &:hover
        opacity .5 !important
// Animations
@keyframes fadeIn 
    0%
        opacity 0
    100%
        opacity 1

