.main-title
    font-size 3em
    font-family Roboto, Arial, Helvetica, sans-serif
    font-weight 200
    padding-left 20px

.main-section
    font-size 1.3em
    font-family Roboto, Arial, Helvetica, sans-serif
    font-weight 300
    margin 20px 
.btn-block 
    display block !important
    margin 10px auto !important
    width 50% !important
    padding 20px
.card-main
    height 100% !important
    padding 30px !important
.sub-title
    font-size 1.5em