@import "./helpStyles/variables.styl";

// Clear Fix
*,*::before, *::after 
    margin 0
    padding 0
    box-sizing: inherit 

body 
    background bodyColor



@font-face 
    font-family Roboto;
    src url("../../public/Roboto-Regular.ttf");


