@import "./helpStyles/mixins.styl"
.errorInput
    border-color  #e60000 !important;
.form-main
    formBox()
    margin-bottom 20px

.form-title
    formTitle()

.form-input
    formInput()

.form-label
    formLabel()

.form-btn-wrap
    formBtnWrap()