.todolist-title 
    text-align center
    font-family Roboto, Arial, Helvetica, sans-serif
    font-size 2em
    border-bottom 1px solid #000
    span 
        font-size 17px
        font-family Roboto, Arial, Helvetica, sans-serif
        font-weight 400
        display block
        text-align right
        padding-bottom 40px
.form-header
    float left
    font-family Roboto, Arial, Helvetica, sans-serif
    font-size 2em
    font-weight 200
    margin-bottom 20px
    

.list-title
    font-family Roboto, Arial, Helvetica, sans-serif;
    font-size 2em
    font-weight 200
    text-align left
    

.todo-title
    text-align left
    padding 20px
    font-weight 200
    


.list-icon__close
    display block
    color red 
    cursor pointer
    margin-right 20px

.list-icon
    display block
    padding-left 20px
    cursor pointer
.list 
    animation fadeIn 1s
    margin 20px
.todo-cross
    animation fadeIn 1s
    text-decoration line-through

@keyframes fadeIn 
    from 
        opacity 0
    to 
        opacity 1